.dimmed-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; // 상하좌우에 꽉찬 영역을 채운다
  background-color: rgba(#000, 0.8);
  z-index: 9999;
}

.order-type-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 32px 0 40px;
  border-radius: 16px 16px 0 0;
  background-color: #fff;
  text-align: center;
  z-index: 10000;

  .title {
    font-size: 20px;
    font-weight: 700;
    color: $booking-color-text1;
  }

  .type-list {
    display: flex;
    margin-top: 32px;
  }

  .type-item {
    flex: 1;
    & + .type-item {
      border-left: 1px solid $booking-color-border103;
    }
  }

  .icon {
    width: 100px;
    height: auto; // 가로가 100일 때 높이도 자동보정
    color: $booking-color-bg118;
  }

  .desc {
    margin-top: 8px;
    font-size: 15px;
    line-height: 1.5; // 단위가 없으면 font-size의 1.5배라고 생각
    font-weight: 600;
    color: #000;
  }

  .btn-selection {
    display: inline-block;
    margin-top: 10px; // margin-top이 안 먹히니 (inline이라) inline-block
    padding: 6px 18px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 28px;
    background-color: $booking-color-bg189;
    color: #fff;
  }
}
